https://lerner.co.il   

https://WeeklyPythonExercise.com/

https://github.com/reuven/dfw-pandas

# Pandas times + dates

- Reading in date/time data
- Extracting date/time info
- Date calculations
- Date and time indexes
- Time series

In [2]:
!ls

'Pandas + time.ipynb'   README.md~		    taxi.csv
 README.md	        celebrity_deaths_2016.csv

In [3]:
!head taxi.csv

In [5]:
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('taxi.csv')