https://lerner.co.il   

https://WeeklyPythonExercise.com/

https://github.com/reuven/dfw-pandas

# Pandas times + dates

- Reading in date/time data
- Extracting date/time info
- Date calculations
- Date and time indexes
- Time series

In [2]:
!ls

'Pandas + time.ipynb'   README.md~		    taxi.csv
 README.md	        celebrity_deaths_2016.csv

In [3]:
!head taxi.csv

In [7]:
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('taxi.csv', usecols=['tpep_pickup_datetime',
                                     'tpep_dropoff_datetime',
                                     'passenger_count','trip_distance',
                                     'total_amount'])

In [8]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount
0,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,17.80
1,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,8.30
2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,11.00
3,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,17.16
4,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,10.30

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tpep_pickup_datetime   9999 non-null   object
 1   tpep_dropoff_datetime  9999 non-null   object
 2   passenger_count        9999 non-null   int64
 3   trip_distance          9999 non-null   float64
 4   total_amount           9999 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 390.7+ KB

In [10]:
# datetime / timestamp -- marks a moment time
# interval / timedelta -- marks a stretch of time (relative)

In [13]:
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('taxi.csv', usecols=['tpep_pickup_datetime',
                                     'tpep_dropoff_datetime',
                                     'passenger_count','trip_distance',
                                     'total_amount'],
                parse_dates=['tpep_pickup_datetime',
                           'tpep_dropoff_datetime'])